# 
# Copyright (c) 2006 Motorola, Inc, All Rights Reserved.
#
# This program is licensed under a BSD license with the following terms:
# 
# Redistribution and use in source and binary forms, with or without modification,
# are permitted provided that the following conditions are met:
#
#   *  Redistributions of source code must retain the above copyright notice,
#      this list of conditions and the following disclaimer.
#   *  Redistributions in binary form must reproduce the above copyright notice,
#      this list of conditions and the following disclaimer in the documentation
#      and/or other materials provided with the distribution.
#   *  Neither the name of Motorola nor the names of its contributors may
#      be used to endorse or promote products derived from this software without
#      specific prior written permission.
# 
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
# ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
# INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
# BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
# OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# 
# Changelog:
# Date               Author           Comment
# -----------------------------------------------------------------------------
# 03/28/2006       Motorola         Initial Creation
#
# 
# ADB Kconfig
#

menu "OTG ANDROID ADB Function"

config OTG_ANDROID_ADB
	tristate "ANDROID ADB Function"
	depends on OTG

menu "OTG ANDROID_ADB function options"
	depends on OTG && OTG_ANDROID_ADB

config OTG_ANDROID_ADB_VENDORID
        hex "VendorID (hex value)"
	depends on OTG_ANDROID_ADB && OTG
        default "0x0bb4"

config OTG_ANDROID_ADB_PRODUCTID
	depends on OTG_ANDROID_ADB && OTG
        hex "ProductID (hex value)"
        default "0xdeed"

config OTG_ANDROID_ADB_BCDDEVICE
	depends on OTG_ANDROID_ADB && OTG
        hex "bcdDevice (binary-coded decimal)"
        default "0x0200"

config OTG_ANDROID_ADB_MANUFACTURER
	depends on OTG_ANDROID_ADB && OTG
        string "iManufacturer (string)"
        default "Motorola Inc."

config OTG_ANDROID_ADB_PRODUCT_NAME
	depends on OTG_ANDROID_ADB && OTG
        string "iProduct (string)"
        default "Motorola Phone"

config OTG_ANDROID_ADB_DESC
	depends on OTG_ANDROID_ADB && OTG
        string "iConfiguration (string)"
        default "ADB Cfg"

config OTG_ANDROID_ADB_HOTPLUG
	depends on OTG_ANDROID_ADB && OTG
        bool "start ANDROID ADB hotplug"
        default TRUE

endmenu
endmenu
