# 
# Copyright (c) 2006 Motorola, Inc, All Rights Reserved.
#
# This program is licensed under a BSD license with the following terms:
# 
# Redistribution and use in source and binary forms, with or without modification,
# are permitted provided that the following conditions are met:
#
#   *  Redistributions of source code must retain the above copyright notice,
#      this list of conditions and the following disclaimer.
#   *  Redistributions in binary form must reproduce the above copyright notice,
#      this list of conditions and the following disclaimer in the documentation
#      and/or other materials provided with the distribution.
#   *  Neither the name of Motorola nor the names of its contributors may
#      be used to endorse or promote products derived from this software without
#      specific prior written permission.
# 
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
# ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
# INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
# BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
# OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
# 
# Changelog:
# Date               Author           Comment
# -----------------------------------------------------------------------------
# 03/28/2006       Motorola         Initial Creation
#
# 
# MTP Kconfig
#

menu "OTG MTP Function"

config OTG_MTP
	tristate "  MTP Function"
	depends on OTG

menu "OTG MTP function options"
	depends on OTG && OTG_MTP

config OTG_MTP_VENDORID
        hex "VendorID (hex value)"
	depends on OTG_MTP && OTG
        default "0x22b8"

config OTG_MTP_PRODUCTID
	depends on OTG_MTP && OTG
        hex "ProductID (hex value)"
        default "0x6415"

config OTG_MTP_BCDDEVICE
	depends on OTG_MTP && OTG
        hex "bcdDevice (binary-coded decimal)"
        default "0x0200"

config OTG_MTP_MANUFACTURER
	depends on OTG_MTP && OTG
        string "iManufacturer (string)"
        default "Motorola Inc."

config OTG_MTP_PRODUCT_NAME
	depends on OTG_MTP && OTG
        string "iProduct (string)"
        default "Motorola Phone"

config OTG_MTP_DESC
	depends on OTG_MTP && OTG
        string "iConfiguration (string)"
        default "MTP Cfg"

config OTG_MTP_HOTPLUG
        depends on OTG_MTP && OTG
        bool "start MTP hotplug"
        default TRUE

endmenu
endmenu


menu "OTG PBG Function"

config OTG_PBG
	tristate "  PBG Function"
	depends on OTG

menu "OTG PBG function options"
	depends on OTG && OTG_PBG

config OTG_PBG_VENDORID
        hex "VendorID (hex value)"
	depends on OTG_PBG && OTG
        default "0x22b8"

config OTG_PBG_PRODUCTID
	depends on OTG_PBG && OTG
        hex "ProductID (hex value)"
        default "0x6411"

config OTG_PBG_BCDDEVICE
	depends on OTG_PBG && OTG
        hex "bcdDevice (binary-coded decimal)"
        default "0x0200"

config OTG_PBG_MANUFACTURER
	depends on OTG_PBG && OTG
        string "iManufacturer (string)"
        default "Motorola Inc."

config OTG_PBG_PRODUCT_NAME
	depends on OTG_PBG && OTG
        string "iProduct (string)"
        default "Motorola Phone"

config OTG_PBG_DESC
	depends on OTG_PBG && OTG
        string "iConfiguration (string)"
        default "PBG Cfg"

config OTG_PBG_HOTPLUG
        depends on OTG_PBG && OTG
        bool "start PBG hotplug"
        default TRUE

endmenu
endmenu


menu "OTG PTP Function"

config OTG_PTP
	tristate "  PTP Function"
	depends on OTG

menu "OTG PTP function options"
	depends on OTG && OTG_PTP

config OTG_PTP_VENDORID
        hex "VendorID (hex value)"
	depends on OTG_PTP && OTG
        default "0x22b8"

config OTG_PTP_PRODUCTID
	depends on OTG_PTP && OTG
        hex "ProductID (hex value)"
        default "0x6411"

config OTG_PTP_BCDDEVICE
	depends on OTG_PTP && OTG
        hex "bcdDevice (binary-coded decimal)"
        default "0x0200"

config OTG_PTP_MANUFACTURER
	depends on OTG_PTP && OTG
        string "iManufacturer (string)"
        default "Motorola Inc."

config OTG_PTP_PRODUCT_NAME
	depends on OTG_PTP && OTG
        string "iProduct (string)"
        default "Motorola Phone"

config OTG_PTP_DESC
	depends on OTG_PTP && OTG
        string "iConfiguration (string)"
        default "PTP Cfg"

config OTG_PTP_HOTPLUG
        depends on OTG_PTP && OTG
        bool "start PBG hotplug"
        default TRUE

endmenu
endmenu
