

# @(#) balden@seth2.belcarratech.com|otg/ocd/isp1301/Kconfig|20051116204959|35532

# Copyright 2005-2006 Motorola, Inc.
#
# Changelog:
# Date               Author           Comment
# -----------------------------------------------------------------------------
# 12/12/2005         Motorola         Initial distribution
# 10/18/2006         Motorola         Add Open Src Software language
# 12/11/2006         Motorola         Changes for Open Src compliance.

# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#

#menu "Phillips ISP1301 Support"
        config OTG_ISP1301_PROCFS
                depends on OTG_ISP1301 && PROC_FS
                bool "ISP1301 Proc FS debug"
                ---help---
                Compile debug support, implements /proc/isp1301 which
                will display all of the ISP1301 registers.

#endmenu

